<div class="recommended">
    <a href="{{ article.url }}" target="_blank"></a>
    <div class="articlephoto">
	    <img src="{{ article.thumbnail.url }}" alt="middle east" />
	</div>
    <div class="entry">
        <span class="date">03.05.2015{{ article.date }} </span>
        <h4 class="post-title">{{ article.title }}</h4>
        <span class="source">{{ article.source_name }} </span>
        <p>{{ article.summary }}</p>
    </div>
</div>