<div class="recommended">
    <a href="{{ article.url }}" target="_blank"></a>
    <img src="{{ article.thumbnail.url }}" alt="middle east" />
    <div class="entry">
        <span class="source">{{ article.source_name }} </span>
        <h4 class="post-title">{{ article.title }}</h4>
        <p>{{ article.summary }}</p>
    </div>
</div>